In [39]:
#importing libraries
import pandas as pd
import seaborn as sns
import numpy as np

In [40]:
#building dataframes
df_imdb=pd.read_csv('imdb_cleaned_data.csv') #IMDb data
df_mojo=pd.read_csv('box_office_mojo_cleaned.csv') #Box Office Mojo data

In [41]:
df_imdb

,Unnamed: 0,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
0,4447,Color,101.0,37.0,501.0,Drama|Horror|Mystery|Thriller,#Horror,1547,1044,English,USA,Not Rated,2015,3.3,750
1,3698,Color,104.0,16.0,14000.0,Drama|Horror|Mystery|Sci-Fi|Thriller,10 Cloverfield Lane,126893,14504,English,USA,PG-13,2016,7.3,33000
2,3015,Color,111.0,0.0,1000.0,Drama,10 Days in a Madhouse,314,2059,English,USA,R,2015,7.5,26000
3,2845,Color,97.0,19.0,23000.0,Comedy|Drama|Romance,10 Things I Hate About You,222099,37907,English,USA,PG-13,1999,7.2,10000
4,406,Color,100.0,36.0,2000.0,Adventure|Comedy|Family,102 Dalmatians,26413,4182,English,USA,G,2000,4.8,372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,4242,Color,78.0,57.0,120.0,Horror,[Rec],131462,145,Spanish,Spain,R,2007,7.5,15000
4797,2151,Color,115.0,0.0,1000.0,Horror|Sci-Fi|Thriller,eXistenZ,77493,2990,English,Canada,R,1999,6.8,6000
4798,790,Color,101.0,93.0,287.0,Action|Adventure|Crime|Thriller,xXx: State of the Union,51349,993,English,USA,PG-13,2005,4.3,0
4799,585,Color,132.0,357.0,14000.0,Action|Adventure|Thriller,xXx,142569,14790,English,USA,PG-13,2002,5.8,10000
4800,882,Color,93.0,45.0,9000.0,Action|Sci-Fi,Æon Flux,110614,10185,English,USA,PG-13,2005,5.5,0

In [42]:
df_mojo

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,0,1,Avengers: Endgame,2.797801e+09,858373000.0,30.7,1.939428e+09,69.3,2019
1,1,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009
2,2,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997
3,3,4,Star Wars: Episode VII - The Force Awakens,2.068224e+09,936662225.0,45.3,1.131561e+09,54.7,2015
4,4,5,Avengers: Infinity War,2.048360e+09,678815482.0,33.1,1.369544e+09,66.9,2018
...,...,...,...,...,...,...,...,...,...
1395,1395,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994
1396,1396,1421,The Forgotten,1.175928e+08,67133509.0,57.1,5.045932e+07,42.9,2004
1397,1397,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001
1398,1398,1423,Dennis the Menace,1.172708e+08,51270765.0,43.7,6.600000e+07,56.3,1993
1399,1399,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009

In [43]:
#sorting imdb dataframe by year
df_imdb.sort_values('Year',ascending=False)

,Unnamed: 0,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
448,10,Color,183.0,0.0,15000.0,Action|Adventure|Sci-Fi,Batman v Superman: Dawn of Justice,371639,24450,English,USA,PG-13,2016,6.9,197000
2304,3090,Color,106.0,29.0,14000.0,Drama|Thriller,Misconduct,6935,27660,English,USA,R,2016,5.3,0
1321,1752,Color,110.0,350.0,11000.0,Biography|Comedy|Drama|Music|Romance,Florence Foster Jenkins,2167,11534,English,UK,PG-13,2016,7.1,0
955,812,Color,108.0,84.0,16000.0,Action|Adventure|Comedy|Romance|Sci-Fi,Deadpool,479047,18239,English,USA,R,2016,8.1,117000
331,4211,Color,94.0,0.0,1000.0,Horror,Antibirth,63,2406,English,USA,Not Rated,2016,6.3,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,4664,Black and White,110.0,21.0,426.0,Crime|Drama|Romance,Pandora's Box,7431,455,German,Germany,Not Rated,1929,8.0,926
2276,2734,Black and White,145.0,756.0,136.0,Drama|Sci-Fi,Metropolis,111841,203,German,Germany,Not Rated,1927,8.3,12000
3482,4885,Black and White,151.0,54.0,81.0,Drama|Romance|War,The Big Parade,4849,108,Unknown,USA,Not Rated,1925,8.3,226
2589,4958,Black and White,110.0,0.0,2.0,Crime|Drama,Over the Hill to the Poorhouse,5,4,Unknown,USA,Not Rated,1920,4.8,0
1842,4810,Black and White,123.0,204.0,436.0,Drama|History|War,Intolerance: Love's Struggle Throughout the Ages,10718,481,Unknown,USA,Not Rated,1916,8.0,691

In [44]:
df_mojo.sort_values('Year',ascending=True)

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
880,880,890,Snow White and the Seven Dwarfs,184925486.0,184925486.0,100.0,0.0,0.0,1937
305,305,306,Gone with the Wind,402352579.0,200852579.0,49.9,201500000.0,50.1,1939
1345,1345,1367,Pinocchio,121892045.0,84254167.0,69.1,37637878.0,30.9,1940
562,562,566,Bambi,267447150.0,102247150.0,38.2,165200000.0,61.8,1942
735,735,742,One Hundred and One Dalmatians,216026182.0,144880014.0,67.1,71146168.0,32.9,1961
...,...,...,...,...,...,...,...,...,...
836,836,844,Rocketman,195179299.0,96368160.0,49.4,98811139.0,50.6,2019
300,300,301,Bad Boys for Life,406286462.0,198286462.0,48.8,208000000.0,51.2,2020
726,726,733,Dolittle,217688725.0,76288725.0,35.0,141400000.0,65.0,2020
552,552,556,Sonic the Hedgehog,272147762.0,131060702.0,48.2,141087060.0,51.8,2020
855,855,863,Birds of Prey: And the Fantabulous Emancipatio...,189532223.0,79732223.0,42.1,109800000.0,57.9,2020

In [45]:
# checking if dataframes have common movie titles
df_mojo[df_mojo.Title.str.contains('The Dark Knight')]

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
29,29,30,The Dark Knight Rises,1.081041e+09,448139099.0,41.4,632902188.0,58.6,2012
45,45,46,The Dark Knight,1.004934e+09,535234033.0,53.3,469700000.0,46.7,2008

In [46]:
df_mojo[df_mojo.Title.str.contains('The Godfather')]

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
621,621,626,The Godfather,246120974.0,134966411.0,54.8,111154563.0,45.2,1972
1214,1214,1233,The Godfather: Part III,136766062.0,66666062.0,48.7,70100000.0,51.3,1990

In [47]:
df_mojo[df_mojo.Title.str.contains('Superman')]

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
70,70,71,Batman v Superman: Dawn of Justice,873634919.0,330360194.0,37.8,543274725.0,62.2,2016
313,313,314,Superman Returns,391081192.0,200081192.0,51.2,191000000.0,48.8,2006
489,489,493,Superman,300451603.0,134451603.0,44.8,166000000.0,55.2,1978

In [48]:
df_mojo[df_mojo.Title.str.contains('Avengers')]

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,0,1,Avengers: Endgame,2.797801e+09,858373000.0,30.7,1.939428e+09,69.3,2019
4,4,5,Avengers: Infinity War,2.048360e+09,678815482.0,33.1,1.369544e+09,66.9,2018
7,7,8,The Avengers,1.518813e+09,623357910.0,41.0,8.954551e+08,59.0,2012
10,10,11,Avengers: Age of Ultron,1.402806e+09,459005868.0,32.7,9.438000e+08,67.3,2015

In [49]:
df_imdb[df_imdb.Title.str.contains('Avengers')]

,Unnamed: 0,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
389,8,Color,141.0,0.0,26000.0,Action|Adventure|Sci-Fi,Avengers: Age of Ultron,462669,92000,English,USA,PG-13,2015,7.5,118000
3448,794,Color,173.0,0.0,26000.0,Action|Adventure|Sci-Fi,The Avengers,995415,87697,English,USA,PG-13,2012,8.1,123000

In [50]:
df_mojo

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,0,1,Avengers: Endgame,2.797801e+09,858373000.0,30.7,1.939428e+09,69.3,2019
1,1,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009
2,2,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997
3,3,4,Star Wars: Episode VII - The Force Awakens,2.068224e+09,936662225.0,45.3,1.131561e+09,54.7,2015
4,4,5,Avengers: Infinity War,2.048360e+09,678815482.0,33.1,1.369544e+09,66.9,2018
...,...,...,...,...,...,...,...,...,...
1395,1395,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994
1396,1396,1421,The Forgotten,1.175928e+08,67133509.0,57.1,5.045932e+07,42.9,2004
1397,1397,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001
1398,1398,1423,Dennis the Menace,1.172708e+08,51270765.0,43.7,6.600000e+07,56.3,1993
1399,1399,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009

In [51]:
#sorting alphabetically
df_mojo.sort_values('Title')

,Unnamed: 0,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
558,558,562,"10,000 BC",2.697842e+08,94784201.0,35.1,175000000.0,64.9,2008
445,445,449,101 Dalmatians,3.206893e+08,136189294.0,42.5,184500000.0,57.5,1996
885,885,895,102 Dalmatians,1.836118e+08,66957026.0,36.5,116654745.0,63.5,2000
988,988,1003,12 Monkeys,1.688395e+08,57141459.0,33.8,111698000.0,66.2,1995
862,862,871,12 Years a Slave,1.877332e+08,56671993.0,30.2,131061209.0,69.8,2013
...,...,...,...,...,...,...,...,...,...
1334,1334,1355,Zombieland: Double Tap,1.228104e+08,73123082.0,59.5,49687317.0,40.5,2019
982,982,997,Zookeeper,1.698528e+08,80360843.0,47.3,89491916.0,52.7,2011
43,43,44,Zootopia,1.023784e+09,341268248.0,33.3,682515947.0,66.7,2016
537,537,541,xXx,2.774484e+08,142109382.0,51.2,135339000.0,48.8,2002
402,402,404,xXx: Return of Xander Cage,3.461183e+08,44898413.0,13.0,301219864.0,87.0,2017

In [52]:
df_mojo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 9 columns):
Unnamed: 0                  1400 non-null int64
Rank                        1400 non-null int64
Title                       1400 non-null object
Worldwide Lifetime Gross    1400 non-null float64
Domestic Lifetime Gross     1400 non-null float64
Domestic %                  1400 non-null float64
Foreign Lifetime Gross      1400 non-null float64
Foreign %                   1400 non-null float64
Year                        1400 non-null int64
dtypes: float64(5), int64(3), object(1)
memory usage: 98.6+ KB

In [53]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 15 columns):
Unnamed: 0                   4801 non-null int64
Color                        4801 non-null object
Runtime                      4801 non-null float64
Director Facebook Likes      4801 non-null float64
Actor 1 Facebook Likes       4801 non-null float64
Genres                       4801 non-null object
Title                        4801 non-null object
Number of Voted Users        4801 non-null int64
Cast Total Facebook Likes    4801 non-null int64
Language                     4801 non-null object
Country                      4801 non-null object
Content Rating               4801 non-null object
Year                         4801 non-null int64
IMDb Score                   4801 non-null float64
Movie Facebook Likes         4801 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 562.7+ KB

In [54]:
#performing a left merge by common titles unsuccessfully
df_mojo.merge(df_imdb,how='left',left_on='Title',right_on='Title')

,Unnamed: 0_x,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year_x,Unnamed: 0_y,...,Actor 1 Facebook Likes,Genres,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year_y,IMDb Score,Movie Facebook Likes
0,0,1,Avengers: Endgame,2.797801e+09,858373000.0,30.7,1.939428e+09,69.3,2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,Star Wars: Episode VII - The Force Awakens,2.068224e+09,936662225.0,45.3,1.131561e+09,54.7,2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Avengers: Infinity War,2.048360e+09,678815482.0,33.1,1.369544e+09,66.9,2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,1395,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1396,1396,1421,The Forgotten,1.175928e+08,67133509.0,57.1,5.045932e+07,42.9,2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,1397,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1398,1398,1423,Dennis the Menace,1.172708e+08,51270765.0,43.7,6.600000e+07,56.3,1993,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399,1399,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Searching titles to see why merge didn't work
df_mojo['Title']

0                                Avengers: Endgame
1                                           Avatar
2                                          Titanic
3       Star Wars: Episode VII - The Force Awakens
4                           Avengers: Infinity War
                           ...
1395                                    The Client
1396                                 The Forgotten
1397                               A Knight's Tale
1398                             Dennis the Menace
1399                                Hotel for Dogs
Name: Title, Length: 1400, dtype: object

In [56]:
# pulling random movie title to see string
df_imdb['Title'][12]

'13 Hours\xa0'

In [57]:
# Function to delete values in strings 
def data_cleaning(x,y,z):
    '''Takes in dataframe x, column y,
    replaces unwanted values z, with empty space
    to remove unwanted characters'''
    x[y]=x[y].str.replace(z,'')
    return x

In [58]:
data_cleaning(df_imdb,'Title','\xa0')

,Unnamed: 0,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Title,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year,IMDb Score,Movie Facebook Likes
0,4447,Color,101.0,37.0,501.0,Drama|Horror|Mystery|Thriller,#Horror,1547,1044,English,USA,Not Rated,2015,3.3,750
1,3698,Color,104.0,16.0,14000.0,Drama|Horror|Mystery|Sci-Fi|Thriller,10 Cloverfield Lane,126893,14504,English,USA,PG-13,2016,7.3,33000
2,3015,Color,111.0,0.0,1000.0,Drama,10 Days in a Madhouse,314,2059,English,USA,R,2015,7.5,26000
3,2845,Color,97.0,19.0,23000.0,Comedy|Drama|Romance,10 Things I Hate About You,222099,37907,English,USA,PG-13,1999,7.2,10000
4,406,Color,100.0,36.0,2000.0,Adventure|Comedy|Family,102 Dalmatians,26413,4182,English,USA,G,2000,4.8,372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,4242,Color,78.0,57.0,120.0,Horror,[Rec],131462,145,Spanish,Spain,R,2007,7.5,15000
4797,2151,Color,115.0,0.0,1000.0,Horror|Sci-Fi|Thriller,eXistenZ,77493,2990,English,Canada,R,1999,6.8,6000
4798,790,Color,101.0,93.0,287.0,Action|Adventure|Crime|Thriller,xXx: State of the Union,51349,993,English,USA,PG-13,2005,4.3,0
4799,585,Color,132.0,357.0,14000.0,Action|Adventure|Thriller,xXx,142569,14790,English,USA,PG-13,2002,5.8,10000
4800,882,Color,93.0,45.0,9000.0,Action|Sci-Fi,Æon Flux,110614,10185,English,USA,PG-13,2005,5.5,0

In [59]:
# check to see if data_cleaning function worked
df_imdb['Title'][27]

'200 Cigarettes'

In [60]:
'''Merge IMDb and Box Office Mojo dataframes by common title.
    Inner merge using Box Office Mojo because it has fewer titles'''
df_joined=df_mojo.merge(df_imdb,how='inner',left_on='Title',right_on='Title')
df_joined

,Unnamed: 0_x,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year_x,Unnamed: 0_y,...,Actor 1 Facebook Likes,Genres,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,Year_y,IMDb Score,Movie Facebook Likes
0,1,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009,0,...,1000.0,Action|Adventure|Fantasy|Sci-Fi,886204,4834,English,USA,PG-13,2009,7.9,33000
1,2,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997,26,...,29000.0,Drama|Romance,793059,45223,English,USA,PG-13,1997,7.7,26000
2,5,6,Jurassic World,1.670401e+09,652270625.0,39.0,1.018130e+09,61.0,2015,29,...,3000.0,Action|Adventure|Sci-Fi|Thriller,418214,8458,English,USA,PG-13,2015,7.0,150000
3,7,8,The Avengers,1.518813e+09,623357910.0,41.0,8.954551e+08,59.0,2012,794,...,26000.0,Action|Adventure|Sci-Fi,995415,87697,English,USA,PG-13,2012,8.1,123000
4,8,9,Furious 7,1.515048e+09,353007020.0,23.3,1.162041e+09,76.7,2015,45,...,26000.0,Action|Crime|Thriller,278232,79150,English,USA,PG-13,2015,7.2,94000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1392,1417,Magic Mike XXL,1.178131e+08,66013057.0,56.0,5.180000e+07,44.0,2015,2756,...,20000.0,Comedy|Drama|Music,38202,38963,English,USA,R,2015,5.7,41000
1017,1393,1418,Blue Streak,1.177585e+08,68518533.0,58.2,4.923997e+07,41.8,1999,1380,...,789.0,Action|Comedy|Crime|Thriller,60572,2986,English,USA,PG-13,1999,6.3,0
1018,1395,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994,1080,...,821.0,Crime|Drama|Mystery|Thriller,45798,4043,English,USA,PG-13,1994,6.7,1000
1019,1397,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001,1179,...,13000.0,Action|Adventure|Romance,137003,18761,English,USA,PG-13,2001,6.9,0
1020,1399,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009,538,...,3000.0,Comedy|Family,16271,5174,English,USA,PG,2009,5.4,1000

In [61]:
# save joined dataframe to .csv file
df_joined.to_csv('joined_df.csv')

In [62]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1021 entries, 0 to 1020
Data columns (total 23 columns):
Unnamed: 0_x                 1021 non-null int64
Rank                         1021 non-null int64
Title                        1021 non-null object
Worldwide Lifetime Gross     1021 non-null float64
Domestic Lifetime Gross      1021 non-null float64
Domestic %                   1021 non-null float64
Foreign Lifetime Gross       1021 non-null float64
Foreign %                    1021 non-null float64
Year_x                       1021 non-null int64
Unnamed: 0_y                 1021 non-null int64
Color                        1021 non-null object
Runtime                      1021 non-null float64
Director Facebook Likes      1021 non-null float64
Actor 1 Facebook Likes       1021 non-null float64
Genres                       1021 non-null object
Number of Voted Users        1021 non-null int64
Cast Total Facebook Likes    1021 non-null int64
Language                     1021 non-null object
Country                      1021 non-null object
Content Rating               1021 non-null object
Year_y                       1021 non-null int64
IMDb Score                   1021 non-null float64
Movie Facebook Likes         1021 non-null int64
dtypes: float64(9), int64(8), object(6)
memory usage: 191.4+ KB

In [63]:
#removing unnecessary columns
df_joined=df_joined.drop(['Unnamed: 0_x','Unnamed: 0_y','Year_y'],axis=1)
df_joined

,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year_x,Color,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,IMDb Score,Movie Facebook Likes
0,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009,Color,178.0,0.0,1000.0,Action|Adventure|Fantasy|Sci-Fi,886204,4834,English,USA,PG-13,7.9,33000
1,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997,Color,194.0,0.0,29000.0,Drama|Romance,793059,45223,English,USA,PG-13,7.7,26000
2,6,Jurassic World,1.670401e+09,652270625.0,39.0,1.018130e+09,61.0,2015,Color,124.0,365.0,3000.0,Action|Adventure|Sci-Fi|Thriller,418214,8458,English,USA,PG-13,7.0,150000
3,8,The Avengers,1.518813e+09,623357910.0,41.0,8.954551e+08,59.0,2012,Color,173.0,0.0,26000.0,Action|Adventure|Sci-Fi,995415,87697,English,USA,PG-13,8.1,123000
4,9,Furious 7,1.515048e+09,353007020.0,23.3,1.162041e+09,76.7,2015,Color,140.0,0.0,26000.0,Action|Crime|Thriller,278232,79150,English,USA,PG-13,7.2,94000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1417,Magic Mike XXL,1.178131e+08,66013057.0,56.0,5.180000e+07,44.0,2015,Color,115.0,13.0,20000.0,Comedy|Drama|Music,38202,38963,English,USA,R,5.7,41000
1017,1418,Blue Streak,1.177585e+08,68518533.0,58.2,4.923997e+07,41.8,1999,Color,93.0,10.0,789.0,Action|Comedy|Crime|Thriller,60572,2986,English,USA,PG-13,6.3,0
1018,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994,Color,119.0,541.0,821.0,Crime|Drama|Mystery|Thriller,45798,4043,English,USA,PG-13,6.7,1000
1019,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001,Color,144.0,241.0,13000.0,Action|Adventure|Romance,137003,18761,English,USA,PG-13,6.9,0
1020,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009,Color,100.0,87.0,3000.0,Comedy|Family,16271,5174,English,USA,PG,5.4,1000

In [66]:
# removing unnecessary column
df_joined=df_joined.drop('Color',axis=1)
df_joined

,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year_x,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,IMDb Score,Movie Facebook Likes
0,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009,178.0,0.0,1000.0,Action|Adventure|Fantasy|Sci-Fi,886204,4834,English,USA,PG-13,7.9,33000
1,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997,194.0,0.0,29000.0,Drama|Romance,793059,45223,English,USA,PG-13,7.7,26000
2,6,Jurassic World,1.670401e+09,652270625.0,39.0,1.018130e+09,61.0,2015,124.0,365.0,3000.0,Action|Adventure|Sci-Fi|Thriller,418214,8458,English,USA,PG-13,7.0,150000
3,8,The Avengers,1.518813e+09,623357910.0,41.0,8.954551e+08,59.0,2012,173.0,0.0,26000.0,Action|Adventure|Sci-Fi,995415,87697,English,USA,PG-13,8.1,123000
4,9,Furious 7,1.515048e+09,353007020.0,23.3,1.162041e+09,76.7,2015,140.0,0.0,26000.0,Action|Crime|Thriller,278232,79150,English,USA,PG-13,7.2,94000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1417,Magic Mike XXL,1.178131e+08,66013057.0,56.0,5.180000e+07,44.0,2015,115.0,13.0,20000.0,Comedy|Drama|Music,38202,38963,English,USA,R,5.7,41000
1017,1418,Blue Streak,1.177585e+08,68518533.0,58.2,4.923997e+07,41.8,1999,93.0,10.0,789.0,Action|Comedy|Crime|Thriller,60572,2986,English,USA,PG-13,6.3,0
1018,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994,119.0,541.0,821.0,Crime|Drama|Mystery|Thriller,45798,4043,English,USA,PG-13,6.7,1000
1019,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001,144.0,241.0,13000.0,Action|Adventure|Romance,137003,18761,English,USA,PG-13,6.9,0
1020,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009,100.0,87.0,3000.0,Comedy|Family,16271,5174,English,USA,PG,5.4,1000

In [69]:
# rename odd column header
df_joined=df_joined.rename({'Year_x':'Year'},axis=1)
df_joined

,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year,Runtime,Director Facebook Likes,Actor 1 Facebook Likes,Genres,Number of Voted Users,Cast Total Facebook Likes,Language,Country,Content Rating,IMDb Score,Movie Facebook Likes
0,2,Avatar,2.790439e+09,760507625.0,27.2,2.029931e+09,72.8,2009,178.0,0.0,1000.0,Action|Adventure|Fantasy|Sci-Fi,886204,4834,English,USA,PG-13,7.9,33000
1,3,Titanic,2.194440e+09,659363944.0,30.0,1.535076e+09,70.0,1997,194.0,0.0,29000.0,Drama|Romance,793059,45223,English,USA,PG-13,7.7,26000
2,6,Jurassic World,1.670401e+09,652270625.0,39.0,1.018130e+09,61.0,2015,124.0,365.0,3000.0,Action|Adventure|Sci-Fi|Thriller,418214,8458,English,USA,PG-13,7.0,150000
3,8,The Avengers,1.518813e+09,623357910.0,41.0,8.954551e+08,59.0,2012,173.0,0.0,26000.0,Action|Adventure|Sci-Fi,995415,87697,English,USA,PG-13,8.1,123000
4,9,Furious 7,1.515048e+09,353007020.0,23.3,1.162041e+09,76.7,2015,140.0,0.0,26000.0,Action|Crime|Thriller,278232,79150,English,USA,PG-13,7.2,94000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016,1417,Magic Mike XXL,1.178131e+08,66013057.0,56.0,5.180000e+07,44.0,2015,115.0,13.0,20000.0,Comedy|Drama|Music,38202,38963,English,USA,R,5.7,41000
1017,1418,Blue Streak,1.177585e+08,68518533.0,58.2,4.923997e+07,41.8,1999,93.0,10.0,789.0,Action|Comedy|Crime|Thriller,60572,2986,English,USA,PG-13,6.3,0
1018,1420,The Client,1.176152e+08,92115211.0,78.3,2.550000e+07,21.7,1994,119.0,541.0,821.0,Crime|Drama|Mystery|Thriller,45798,4043,English,USA,PG-13,6.7,1000
1019,1422,A Knight's Tale,1.174875e+08,56569702.0,48.2,6.091777e+07,51.8,2001,144.0,241.0,13000.0,Action|Adventure|Romance,137003,18761,English,USA,PG-13,6.9,0
1020,1424,Hotel for Dogs,1.172526e+08,73034460.0,62.3,4.421812e+07,37.7,2009,100.0,87.0,3000.0,Comedy|Family,16271,5174,English,USA,PG,5.4,1000

In [70]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1021 entries, 0 to 1020
Data columns (total 19 columns):
Rank                         1021 non-null int64
Title                        1021 non-null object
Worldwide Lifetime Gross     1021 non-null float64
Domestic Lifetime Gross      1021 non-null float64
Domestic %                   1021 non-null float64
Foreign Lifetime Gross       1021 non-null float64
Foreign %                    1021 non-null float64
Year                         1021 non-null int64
Runtime                      1021 non-null float64
Director Facebook Likes      1021 non-null float64
Actor 1 Facebook Likes       1021 non-null float64
Genres                       1021 non-null object
Number of Voted Users        1021 non-null int64
Cast Total Facebook Likes    1021 non-null int64
Language                     1021 non-null object
Country                      1021 non-null object
Content Rating               1021 non-null object
IMDb Score                   1021 non-null float64
Movie Facebook Likes         1021 non-null int64
dtypes: float64(9), int64(5), object(5)
memory usage: 159.5+ KB

In [152]:
# joined dataframe .csv file
df_joined.to_csv('merged_dataframes.csv')